body {
    font-family: 'DejaVu Sans', sans-serif;
    padding: 30px;
    background-image: url("../../Img/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    color: #dce0e6;
}

.container {
    background-color: rgba(31, 31, 32, 0.6);
    padding: 30px;
    border-radius: 12px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h2 {
    color: #4eaff7;
    margin-bottom: 25px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
}

button {
    background-color: #4eaff7;
    color: white;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.img-icon {
    width: 100px;
    margin-bottom: 20px;
}